.footer {
    padding: 30px;
    background: $background-light;
    &__wrapper {
        display: flex;
        align-items: center;
    }
}
.rs-logo {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    &::before{
        content: '2022';
        display: block;
        font-size: 24px;
        font-family: 'Jost-Bold';
        color: black;
        position: absolute;
        right: 270px;
    }
}

.github__link {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #000;
    transition: all ease .5s;
    &:hover {
        color: $button-hover;
    }
}
.github__name {
    margin-left: 10px;
    font-size: 18px;
}