.header {
  margin: 20px 0;
  font-family: 'Jost-Medium', serif;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn_logout:hover {
      background: $dark-red;
      color: #fff;
    }
  }
}

.logo {
  &__img {
    margin-right: 10px;
    @media (max-width: 480px) {
      max-width: 60px;
    }
    @media (max-width: 380px) {
      max-width: 32px;
    }
  }
  &__link {
    color: $dark-blue;
    display: flex;
    align-items: center;
    font-size: 48px;
    @media (max-width: 480px) {
      font-size: 30px;
    }
    @media (max-width: 380px) {
      font-size: 25px;
    }
  }
}
.navigation {
  flex: 0 1 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  word-wrap: normal;
  transition: all ease .5s;
  @media (max-width: 865px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    left: 100%;
    bottom: 0;
    background: #fff;
    z-index: 1;
  }
  &_active {
    @media (max-width: 865px) {
      display: flex;
      left: 0;
    }
  }
  &__container {
    display: flex;
    margin-right: 30px;
    @media (max-width: 865px) {
      margin-right: 0;
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 865px) {
      margin: 40px 0 0 0;
    }
  }
  &__link {
    color: $gray;
    transition: all ease 0.5s;
    font-size: 22px;
    &:hover {
      color: $light-blue;
    }
  }
}
