.btn {
    border-radius: 10px;
    transition: all ease .5s;
    color: #fff;
    font-family: 'Jost-Medium',serif;
    background: $light-blue;
    padding: 18px 50px;
    &_bordered {
        color: $light-blue;
        background: transparent;
        border: 1px solid rgba(0, 16, 73, 0.2);
        padding: 18px 66px;
        &:hover {
            color: #fff;
        }
    }
    &_bold {
        color: $dark-blue;
    }
    &_navigation {
        padding: 9px 36px;
        color: $dark-blue;
    }
    &_logout {
      padding: 9px 36px;
      color: $red;
      border: 1px solid $dark-red;
      &:hover {
        background: $dark-red;
        color: #fff;
      }
    }
    &_difficulty {
        padding: 17px 33px;
        margin: 0 25px;
     }
        
    &_card {
        margin: 0 5px;
        font-size: 20px;
        padding: 9px 30px;
     }
        
    &:hover {
        background: $button-hover;
        box-shadow: 0px 8px 24px rgba(86, 133, 255, 0.25);
    }
    
    &_hide {
      display: none;
    }
}
