@font-face {
  font-family: 'Jost-Regular';
  src: url("../assets/fonts/Jost-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Jost-Medium';
  src: url("../assets/fonts/Jost-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Jost-SemiBold';
  src: url("../assets/fonts/Jost-Semibold.ttf") format('truetype');
}
@font-face {
  font-family: 'Jost-Bold';
  src: url("../assets/fonts/Jost-Bold.ttf") format('truetype');
}
