$light-blue: #5685FF;
$dark-blue: #001049;
$gray: #2A3354;
$pink: #FF9292;
$yellow: #FFDA92;
$aquamarine: #92EBFF;
$purpule: #C292FF;
$background-light: rgba(86, 133, 255, 0.05);
$button-hover: #7DA2FF;