.project {
    color: $dark-blue;
    margin: 69px 0 74px 0;
    @media (max-width: 480px) {
        margin: 25px 0;
    }  
    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: 900px) {
            flex-wrap: wrap;
            justify-content: center;
        }   
    }
    &__paragraph {
        margin-top: 15px;
    }
    &__btn {
        margin-top: 50px;
    }
}
.project-info {
    flex: 0 1 544px;
    padding-right: 20px;
    @media (max-width: 900px) {
        flex: 1 1 auto;
        padding-right: 0;
    }   
}
.project-categories {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    width: 100%;
    justify-content: flex-end;
    @media (max-width: 900px) {
        justify-content: center;
        margin-top: 40px;
        flex: 1 1 auto;
        max-width: 520px;
    }  
}
.category {
    width: 100%;
    max-width: 295px;
    height: 295px;
    margin: 10px;
    border-radius: 40px;
    position: relative;
    @media (max-width: 1100px) {
        max-width: 270px;
        height: 270px;
    }
    @media (max-width: 980px) {
        max-width: 240px;
        height: 240px;
    }
    @media (max-width: 560px) {
        max-width: 200px;
        height: 200px;
        margin: 5px;
    }
    @media (max-width: 480px) {
        max-width: 160px;
        height: 160px;
    }
    @media (max-width: 380px) {
        max-width: 120px;
        height: 120px;
    }
    &__img {
        @media (max-width: 980px) {
            max-width: 230px;
            height: 230px;
        }
        @media (max-width: 560px) {
            max-width: 180px;
            height: 180px;
        }
        @media (max-width: 480px) {
            max-width: 140px;
            height: 140px;
        }
        @media (max-width: 380px) {
            max-width: 100px;
            height: 100px;
        }
    }
    &_exercise {
        background: $pink;
    }
    &_sprint {
        background: $yellow;
    }
    &_audio {
        background: $purpule;
    }
    &_statistic {
        background: $aquamarine;
    }
    &:hover {
        .pad {
            opacity: 1;
        }
    }
}
.pad {
    font-family: 'Jost-Medium',serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
    border-radius: 40px;
    color: #FAFAFA;
    &_exercise {
        background-color: rgba(red, $alpha: 0.5);
    }
    &_sprint {
        background-color: rgba(yellow, $alpha: 0.5);
    }
    &_audio {
        background-color: rgba( #8b00ff, $alpha: 0.5);
    }   
    &_statistic {
        background-color: rgba(aquamarine, $alpha: 0.5);
    }
}
.advantages {
    margin: 26px 0 111px;
    @media (max-width: 650px) {
        font-size: 38px;
    }
    @media (max-width: 480px) {
        margin: 20px 0 50px;
    }
    &__items {
        max-width: 1120px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 28px auto;
        @media (max-width: 900px) {
            justify-content: center;
        }
    }
    &__item {
        flex: 0 1 505px;
        margin: 50px 20px;
        display: flex;
        box-shadow: 0px 10px 50px rgba(86, 133, 255, 0.15);
        border-radius: 40px;
        justify-content: space-between;
        padding: 20px 30px 0 33px;
        color: $dark-blue;
        font-family: 'Jost-Medium',serif;
        @media (max-width: 1130px) {
            flex: 1 1 45%;
        }
        @media (max-width: 900px) {
            flex: 1 1 auto;
            margin: 30px 0;
        }
        @media (max-width: 500px) {
            margin: 15px 0;
        }
        &:first-child {
            padding-right: 0;
        }
        &:nth-child(3) {
            padding-right: 17px;
        }
    }
    &__text {
        font-family: 'Jost-Medium', serif;
        font-size: 24px;
        line-height: 28px;
        @media (max-width: 500px) {
            font-size: 20px;
        }
        @media (max-width: 420px) {
            font-size: 18px;
        }
    }
    &__img {
        &_book {
            max-width: 161px;
            @media (max-width: 500px) {
                max-width: 130px;
            }
            @media (max-width: 420px) {
                max-width: 110px;
            }
        }
        &_alarm {
            max-width: 105px;
            @media (max-width: 500px) {
                max-width: 80px;
            }
            @media (max-width: 420px) {
                max-width: 60px;
            }
        }
        &_game-education {
            max-width: 179px;
            @media (max-width: 500px) {
                max-width: 150px;
            }
            @media (max-width: 420px) {
                max-width: 120px;
            }
        }
        &_money {
            max-width: 142px;
            @media (max-width: 500px) {
                max-width: 120px;
            }
            @media (max-width: 420px) {
                max-width: 100px;
            }
        }
    }
}
.about-app {
    padding: 110px 0 60px;
    background: $background-light;
    @media (max-width: 480px) {
        padding: 50px 0 30px;
    }
    &__link-container {
        margin-top: 50px;
    }
    &__paragraph {
        margin-top: 20px;
        max-width: 420px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        @media (max-width: 650px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__content {
        @media (max-width: 650px) {
            flex: 1 1 auto;
        }
    }
    &__paragraph {
        @media (max-width: 650px) {
            max-width: 100%;
        }
    }
    &__img {
        max-width: 627px;
        width: 100%;
        @media (max-width: 800px) {
            max-width: 500px;
        }
        @media (max-width: 650px) {
            margin-top: 20px;
            max-width: 400px;
        }
    }
}
.title_about-app {
    text-align: center;
}

.developers {
    margin: 100px 0 90px;
    @media (max-width: 480px) {
        margin: 50px 0 30px;
    }
    &__wrapper {
        margin: 167px 0 -15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1100px) {
            margin-top: 90px;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @media (max-width: 780px) {
            margin: 50px 0 0 0;
        }
        @media (max-width: 420px) {
            margin: 20px 0 0 0;
        }
    }
}
.developer {
    text-align: center;
    flex: 0 1 340px;
    padding: 40px 20px 48px;
    margin: 0 15px;
    background: #FAFAFA;
    box-shadow: 0px 10px 50px rgba(86, 133, 255, 0.15);
    border-radius: 40px;
    transition: all ease .5s;
    @media (max-width: 1100px) {
        margin-top: 35px;
    }
    @media (max-width: 700px) {
        margin: 35px 0 0 0;
    }
    @media (max-width: 400px) {
        padding: 25px 10px;
    }
    &:hover {
        transform: translateY(-60px);
    }
    &__link-container {
        margin-top: 60px;
    }
    &__name {
        font-family: 'Jost-Bold';
        font-size: 32px;
        color: $dark-blue;
        @media (max-width: 800px) {
            font-size: 28px;
        }
        @media (max-width: 420px) {
            font-size: 20px;
        }
    }
    &__img {
        margin-top: 60px;
        @media (max-width: 420px) {
            max-width: 200px;
        }
    }
    &__status {
        margin: 30px auto;
        font-family: 'Jost-SemiBold';
        font-size: 24px;
        color: $light-blue;
        max-width: 200px;
        @media (max-width: 800px) {
            font-size: 20px;
        }
    }
    &__paragraph {
        margin: 30px auto 0;
        max-width: 262px;
        width: 100%;
        @media (max-width: 800px) {
            font-size: 16px;
        }
    }
}